<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.RateMapper" >
  <resultMap id="BaseResultMap" type="pojo.Rate" >
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="movname" property="movname" jdbcType="VARCHAR" />
    <result column="pinglun" property="pinglun" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userid, movname, pinglun, rate, time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pojo.RateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="pojo.RateExample" >
    delete from rate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.Rate" >
    insert into rate (userid, movname, pinglun, 
      rate, time)
    values (#{userid,jdbcType=INTEGER}, #{movname,jdbcType=VARCHAR}, #{pinglun,jdbcType=VARCHAR}, 
      #{rate,jdbcType=INTEGER}, #{time,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Rate" >
    insert into rate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="movname != null" >
        movname,
      </if>
      <if test="pinglun != null" >
        pinglun,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="movname != null" >
        #{movname,jdbcType=VARCHAR},
      </if>
      <if test="pinglun != null" >
        #{pinglun,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.RateExample" resultType="java.lang.Integer" >
    select count(*) from rate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rate
    <set >
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.movname != null" >
        movname = #{record.movname,jdbcType=VARCHAR},
      </if>
      <if test="record.pinglun != null" >
        pinglun = #{record.pinglun,jdbcType=VARCHAR},
      </if>
      <if test="record.rate != null" >
        rate = #{record.rate,jdbcType=INTEGER},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rate
    set userid = #{record.userid,jdbcType=INTEGER},
      movname = #{record.movname,jdbcType=VARCHAR},
      pinglun = #{record.pinglun,jdbcType=VARCHAR},
      rate = #{record.rate,jdbcType=INTEGER},
      time = #{record.time,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>